
{% for member in members %}
    <div class="btn-group" data-toggle="buttons" id="btnMemberSelect2" style="margin-bottom: 5px;">

        <label class="btn btn-success " id="checkboxL2"  style="width: 240px; font-family: thaisansneue; font-size: 25px;">

            <input type="checkbox" class="checkboxC2" name="{{ member.username }}" id="{{ member.username }}memberProject" autocomplete="off" value="{{ member.username }}">
            {{ member.username }}
        </label>

    </div>
{% endfor %}

<script>

    $(document).ready(function() {
        $('#btnMemberSelect2 .checkboxC2').change(function() {
            var name =$(this).attr("value");

            if ($(this).prop('checked')) {
                var r= $('<input type="button" value="new button"/>');
                $( "#s2" ).append( ' <input type="text" name= "searchmember"  id= "addMemberProject'+name+'" class="btn btn-default" style="font-family: thaisansneue;  font-size: 26px;" value="'+name +'"/>' );
            }
            else {
                var myBtn = document.getElementById("addMemberProject"+name);
                mySpan = document.createElement("span");
                mySpan.innerHTML = myBtn.innerHTML ;
                myBtn.parentNode.replaceChild(mySpan, myBtn);
            }
        });
    });
</script>