{% extends "front/nav_afterLogin.html" %}

{% block content %}

        <script type="text/javascript"
                src="http://code.jquery.com/jquery-2.0.0.min.js">
        </script>
        <script type="text/javascript">

            $(document).ready(function(){


                $('#username').hide();
                var username = $('#username').val();
                $("#myProfile").click(function(){
                    $("#myProfile").attr("href", "/profiles/"+username+"/");
                });
            });
        </script>
		<!-- CONTENT -->


		<div class="container white" id="main-content">
			<div id="content-left">
				<div style="margin-left: 30px; margin-right:30px;">
					<h1>Change Password</h1> {{ change }}
					<hr>
				</div>
                <input type="text" value="{{ USERNAME }}" id="username">
			</div>

			<center>
				<div id="login-box-main" style="font-family: thaisansneue;  font-size: 25px; " align="left">
                    {{ ERROR }}
                    <form action="/change_password/" method="post"  >{% csrf_token %}

                        Username * <input type="text" class="form-control" placeholder="username" name="txt_username" style="font-family: thaisansneue; font-size: 20px;">

                        Old Password * <input type="password" class="form-control" placeholder="old password" name="txt_password" style="font-family: thaisansneue; font-size: 20px;">


                        New password <input type="password" class="form-control" placeholder="new password" name="txt_new_password" style="font-family: thaisansneue; font-size: 20px;">

                        Confirm new  password <input type="password" class="form-control" placeholder="confirm new password" name="txt_new_password" style="font-family: thaisansneue; font-size: 20px;">

                        <br>
                        <input type="submit" value = "submit" class="btn btn-default" style="font-family: thaisansneue; font-size: 25px;"/>
                        <br><br>
                    </form>

				</div>
			</center>

		</div>


{% endblock %}