{% extends "front/master.html" %}

{% block content %}
		<!-- CONTENT -->
		<div class="container white" id="main-content">
			<div id="content-left">
				<div style="margin-left: 30px; margin-right:30px;">
					<h1>Change Password</h1> {{ forget }}
					<hr>
				</div>

			</div>

			<center>
				<div id="login-box-main" projectManager_Dashboard.html>
                    {{ ERROR }}
                    <form action="/forget_password/" method="post"  >{% csrf_token %}

                        Username * <input type="text" class="form-control" placeholder="Username" name="txt_username">
                        <br>
                        Password * <input type="password" class="form-control" placeholder="password" name="txt_password">
                        <br>

                        New password *<input type="password" class="form-control" placeholder="new password" name="txt_new_password">
                        <br>
                        <input type="submit" value = "submit" class="btn btn-default" />
                        <br><br>
                    </form>

				</div>
			</center>

		</div>


{% endblock %}