<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CAVAROS</title>

    <!-- Bootstrap -->
    <link href="/site_media/css/fontface.css" rel="stylesheet">
    <link href="/site_media/css/bootstrap.css" rel="stylesheet">
    <link href="/site_media/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body>
<!-- NAV -->
<div id="head" class="visible-lg visible-md">
    <div class="container">
        <img src="/site_media/img/logo.png" id="logo-desktop" class="img-responsive"  />
        <ul class="nav nav-pills" id="rw-nav">


        </ul>
    </div>
</div>
<div id="head-mb" class="hidden-lg hidden-md" style="margin-bottom: -20px;">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="/site_media/img/logo.png"  style="margin-top: -10px;" width="100"/>
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">


                </ul>
            </div>

        </div>
    </nav>
</div>

<!-- CONTENT -->
{% block content %}




{%endblock %}

<div class="container" id="footer">
    &copy; Copyright 2014. All Rights Reserved.
</div>
<a href="#" id="scroll_top">Scroll</a>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/site_media/js/bootstrap.min.js"></script>
<script src="/site_media/js/scroll.js"></script>
<script src="/site_media/js/selectize.js.js"></script>
<script src="/site_media/js/selectize.min.js"></script>

</body>
</html>